.button {
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;

    &::first-letter {
        text-transform: uppercase;
    }

    &:hover {
        text-decoration: none;
    }
}
